@font-face {
  font-family: 'iconfont'; /* Project id 3301706 */
  src: url('//at.alicdn.com/t/font_3301706_w8ijp3qn198.woff2?t=1649594112269') format('woff2'), url('//at.alicdn.com/t/font_3301706_w8ijp3qn198.woff?t=1649594112269') format('woff'),
    url('//at.alicdn.com/t/font_3301706_w8ijp3qn198.ttf?t=1649594112269') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-running:before {
  content: '\e64f';
}

.icon-dumbell:before {
  content: '\e64b';
}

.icon-medicine-bowl:before {
  content: '\e64e';
}

.icon-healthy-heart:before {
  content: '\e64c';
}

.icon-heartrate:before {
  content: '\e64d';
}

.icon-weight:before {
  content: '\e650';
}

.icon-note:before {
  content: '\e711';
}

.icon-user:before {
  content: '\e755';
}
